{% extends 'base1.html' %}
 
{% block title %}EditProfile{% endblock %}
 
 
 
 
{% block content %}
<div class="conatiner w-50 mt-5 p-3 shadow-sm p-3 mb-5 bg-white rounded">
  <form class="row g-3" >
    <div class="row-md-3">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Kunal Khandelwal"disabled>
    </div><br>
    <div class="row-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4"placeholder="KunalKhandelwal@gmail.com"disabled>
    </div>
   
   
    <div class="row-md-5">
      <label for="inputAddress2" class="form-label">Phone No</label>
      <input type="number" class="form-control" id="inputAddress2" placeholder="8394900021"disabled>
    </div>
    <div class="row-md-6">
      <label for="inputCity" class="form-label">Country</label>
      <input type="text" class="form-control" id="inputCity"placeholder="India"disabled>
    </div>
   
   
   
    <div class="row-12">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
 
 
{% endblock %}
